@charset "utf-8";
/* CSS Document */

@font-face {
font-family: "Trajan Pro";
src: url(../fonts/TrajanPro-Regular.otf);
}

@font-face {
font-family: "Trajan Pro Bold";
src: url(../fonts/TrajanPro-Bold.otf);
}

@font-face {
font-family: "Queenstown Signature";
src: url(../fonts/QUEENSTOWN-SIGNATURE.otf);
}


@keyframes welcome{
	from {opacity: 0; transform: translateY(2vh)}
	to {opacity: 1; transform: translateY(0)}
}

@keyframes welcome-1{
	from {opacity: 0; transform: translateY(2vh) rotate(-13deg)}
	to {opacity: 1; transform: translateY(0) rotate(-15deg)}
}

@keyframes fade-in{
	from {opacity: 0%}
	to{opacity: 100%}
}

@keyframes fade-to-blue{
	to {background: #06062a; color: #bd9999; border-color: #bd9999}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html{
	scroll-behavior: smooth;
	--color1: 
}

.loader {
	display: none;
	position: absolute;
	left: 48vw;
	top: 25vw;
  border: 4px solid white;
  border-top: 4px solid #CF8EB0; 
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  animation: spin 1.5s linear infinite;
}

#preload{
	position: absolute;
}

#main{
	display: block;
}

[class*="col-"] {
    float: left;
    margin: 0;
}

@media only screen and (min-width: 992px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#flowers{
		--width: 50vw;
		position: fixed;
		width: var(--width);
		z-index: 5;
		margin: 0 auto;
		display: block;
		left: calc(100vw/2 - var(--width)/2);
		top: -2vw;
		pointer-events: none;

		animation-name: welcome;
		animation-duration: 2s;
		animation-fill-mode: backwards;
	}

	#names{
		--width: 60vw;
		position: fixed;
		width: var(--width);
		display: block;
		top: 15vw;
		margin: 0 auto;
		left: calc(100vw/2 - var(--width)/2);
		z-index: 0;

		animation-name: welcome;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
	}

	#header{
		font-family: "Trajan Pro";
		position: -webkit-sticky; /* Safari */
		position: sticky;
		align-items: center;
		width: 100%;
		height: 10vh;
		top: 0vh;
		padding: 2vh 0;
		margin: 46vw 0 10vh 0;
		z-index: 4;

    animation-name: welcome;
		animation-duration: 2s;
		animation-delay: 1.5s;
		animation-fill-mode: backwards;
	}
	
	#header.top{
		background: white;
	}

	#main-menu{
		display: flex;
    margin: 0 auto;
		margin-top: 0;
	}

	#main-menu a{
		text-decoration: none;
		position: relative;
		width: 25%;
		display: flex;
		justify-content: center;
	}

	.menu-button{	
		background: none;
		box-shadow: none;
		border: none;
		color: #400711;
		font-size: 1.3em;
		margin: 0px;
		z-index: 10;
	}

	.menu-button:hover{
		font-family: "Trajan Pro Bold";
	}

	.left{
		border-right: 1px #400711 solid;
	}

	.center{
		border-right: 1px #400711 solid;
		border-left: 1px #400711 solid;
	}

	.right{
		border-left: 1px #400711 solid
	}

	#home{
		opacity: 0;
		cursor: context-menu;
		display: flex;
		align-items: center;
		height: 90%
	}

	#home h3{
		font-family: "Queenstown Signature";
		font-size: 2.2vw;
		text-align: center;
		width: 100%;
		color: #B0B0B0;
	}
	
	#home h3:hover{
		font-size: 2.3vw;
	}

	#countdown{
		font-family: "Cormorant Garamond";
		opacity: 0;
		cursor: context-menu;
		text-align: center;
	}

	#countown-val{	
		position: relative;	
		display: inline-block;
		top: -15px;
	}

	#countown-val h2{
		font-family: "Cormorant Garamond";
		font-size: 3em;
		font-weight: bolder;
		color: #bf6795;
		margin: 0;
		text-shadow: 2px;
	}

	#countdown-message{
		display: inline-block;
		position: relative;
		color: #400711;
		font-weight:lighter;
		font-style:oblique;
		top: -15px
	}

	#content{
		height: 900vh;
	}

	h1{
		font-family: "Queenstown Signature";
		font-size: 10em;
		text-align: center;
		color: #400711;
		position: sticky;
		top: 10vh;
		z-index:0;
	}

	.menu-button.current{
		font-family: "Trajan Pro Bold";
		border-bottom: solid #400711 0.2vh;
	}
	
	.to-blue,
  #countdown-message.to-blue,
	#header.to-blue,
	.menu-button.to-blue,
	.current.to-blue,
	#main-menu a.to-blue,
	.page h1.to-blue{
		/*animation-name: fade-to-blue;
	  animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-delay: 0s;*/
		background: #06062a; 
		color: #bd9999; 
		border-color: #bd9999;		
	}

	.page .current{
		background: white;
	}

	.page{
		height: 20%;
	}
	
	.title{
		font-family: "Trajan Pro";
		font-size: 10em;
	}

	#when{
		position: relative;
		height: 65vh;
		z-index: 3;
	}

	#when-img{
		position: relative;
		z-index: 1;
		left: -20%;
		width: 90%;
	}
	
	#when .date{
		font-family: "Trajan Pro";
		font-size: 2.3vw;
		text-align: right;
		width: 100%;
	}

	#when .txt{
		text-align: center;
		display: flex;
		flex-direction: column;

		width: 60%;

		position: relative;
		top: -24vw;
		left: 11vw

	}

	#when .title{
		color: #bf6795;
		width: 100%;
		text-align: center;
	}

	#when h2{
		color: #bf6795;
		display: inline;
		line-height: .6;
	}

	#where{
		position: relative;
		z-index: 3;
		height: 65vh;
	}
	
	#where .address{
		font-family: "Trajan Pro";
	}

	#where-img{
		position: relative;
		width: 90%;
		right: -10vw;
	}

	#where .title{
		color: #bf6795;
		width: 100%;
		text-align: center;
	}

	#where p, #reception p{
		color: #400711;
		font-size: 1.2vw;
		text-align: center;
		line-height: .5;
		padding-bottom: 0.4vw;
	}

	#where .big, #where .small, #where p,
	#reception .big, #reception .small, #reception p{
		position: relative; 
		top: 3vw;
	}

	#where .big, #reception .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 2.5vw;
		text-align: center;
		line-height: .5
	}

	#where .small{
		font-family: "Queenstown Signature";
		color: #bf6795;
		font-size: 4vw;
		text-align: center;
		line-height: .3;
	}
	
	 #reception .small{
		color: #bf6795;
		font-size: 1.5vw;
		text-align: center;
	}

	#where .txt{
		position: relative;
		top: 9vw;
		right: 3vw;
	}
	
	#reception{
		display: none;
		position: relative;
		left: 33.3%;
		
	}

	#wedding-divider{
		position: relative;
		z-index: 1;
		text-align: center;
	}

	#wedding-divider img{
		position: relative;
		display: inline-block;
		width: 100%;
		z-index: 1;
		top: 12vh;
	}

	#our-wedding{
		height: 120vh;
	}
	
	#getting-there{}
	#photos{
		height: 200vh;
	}
	
	#img-catalog{
		position: relative;
		top: 8vh;
		/*display: none;*/
		-webkit-column-count: 6;
    -webkit-column-gap: 0px;
    -moz-column-count: 6;
    -moz-column-gap: 0px;
    column-count: 6;
    column-gap: 0px; 
	}
	
	#img-catalog img{
		width: 100% !important;
    height: auto !important;
	}
	
	#img-catalog img:hover{
		width: 102% !important;
    height: auto !important;
	}
	
	#lightbox{
		display: none;
		position: fixed;
		z-index: 10;
		padding-top: 5vh;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: #06062a;
	}
	
	#currentPhoto{
		position: relative;		
		margin: 0;
		padding: 0;
		height: 90vh;
	}
	
	#currentPhoto img{
		max-height: 100%;
		max-width: 80vw;
		display: block;
    margin-left: auto;
    margin-right: auto;
	}
	
	#close,#prev,#next{
		position: absolute;
		cursor: context-menu;
		color: #bd9999;
	}
	
	#close{
		left: 95vw;
		top: 1vh;
		font-size: 3em;
	}
	
	#prev,#next{
		font-size: 5em;
		opacity: 0.3;
		top: 40vh
	}
	
	#prev{
		left: 3vw;
	}
	
	#next{
		left: 95vw;
	}
	
	#close:hover, #next:hover, #prev:hover{
		font-weight: bold;
		opacity: 1;
	}
	
	#registry{}
}

@media only screen and (max-width: 992px){

	[class*="col-"] {
		width: 100vw;
	}	
	
	#landing{
		position: relative;
	}
	
	.to-blue,
  #countdown-message.to-blue,
	#header.to-blue,
	.menu-button.to-blue,
	.current.to-blue,
	#main-menu a.to-blue,
	.page h1.to-blue{
		/*animation-name: fade-to-blue;
	  animation-duration: 1.5s;
		animation-fill-mode: forwards;
		animation-delay: 0s;*/
		background: #06062a; 
		color: #bd9999; 
		border-color: #bd9999;		
	}

	#flowers{
		position: fixed;
		width: 100%;
		z-index: 5;
		/*transform: rotate(-15deg);*/
		margin: 0 auto;
		display: block;
		top: 13vh;
		pointer-events: none;

		animation-name: welcome;
		animation-duration: 2s;
		animation-fill-mode: backwards;
	}

	#names{
		position: relative;
		--width:140vw;
		top: 30vh;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2);

		animation-name: welcome;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
	}
	
	#header{
		display: none;
	}
	
	.page{
		position: relative;
		height: 20%;
		top: 30vh;
	}
	
	.page h1{
		font-family: "Queenstown Signature";
		position: sticky;
		color: #400711;
		font-size: 6em;
		text-align: center;
		top: 0px;
		width: 100vw;
		background: white;
		z-index: 2;
		margin-bottom: 10vh;
	}
	
	#our-wedding{
		top: 60vh;
	}
	
	.title{
		font-family: "Trajan Pro Bold";
		font-size: 6em;
	}
	
	#when-img{
		position: relative;
		width: 80vw;
		left: -40vw;
		z-index: 2;
	}
	
	#when .date{
		font-family: "Trajan Pro";
	}
	
	#when .title{
		color: #bf6795;
		display: inline-block;
		text-align: center;
		line-height: .3
	}
	
	#when h2{
		color: #bf6795;
		display: inline-block;
		text-align: center;
	}
	
	#when .txt{
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		top: -65vw
	}
	
	#wedding-divider{
		position: relative;
		width: 100vw;
		top: -50vw
	}
	
	#wedding-divider img{
		width: 90%;
	}
	
	#where{
		position: relative;
		top: -30vw
	}
	
	#where .title{
		color: #bf6795;
		display: inline-block;
		text-align: center;
		line-height: 1;
	}
	
	#where p{
		font-family: "Trajan Pro";
		color: #400711;
		text-align: center;
		font-size: 1em;
	}
	
	#where .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 2em;
		text-align: center;
		line-height: .5
	}
	
	#where .small{
		font-family: "Queenstown Signature";
		color: #bf6795;
		font-size: 4.5em;
		text-align: center;
	  line-height: .3
	}
	
	#where-img{
		position: relative;
		width: 100%;
		left: 48vw;
		top: -20vw;
		z-index: 2;
	}	
	
	#reception{
		display: none;
	}
	
	#img-catalog{
		position: relative;
		top: 8vh;
		/*display: none;*/
		-webkit-column-count: 3;
    -webkit-column-gap: 0px;
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 0px; 
	}
	
	#img-catalog img{
		width: 100% !important;
    height: auto !important;
	}
	
	#img-catalog img:hover{
		width: 102% !important;
    height: auto !important;
	}
	
	#lightbox{
		display: none;
		position: fixed;
		z-index: 10;
		padding-top: 5vh;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: #06062a;
	}
	
	#currentPhoto{
		position: relative;		
		margin: 0;
		padding: 0;
		height: 90vh;
	}
	
	#currentPhoto img{
		--height:60vh;
		max-height: var(--height);
		max-width: 70vw;
		display: block;
    margin-left: auto;
    margin-right: auto;
		margin-top: calc(100vh/2 - var(--height)/2);
	}
	
	#close,#prev,#next{
		position: absolute;
		cursor: context-menu;
		color: #bd9999;
	}
	
	#close{
		left: 90vw;
		top: 1vh;
		font-size: 3em;
	}
	
	#prev, #next{
		font-size: 5em;
		opacity: 0.3;
		top: 40vh;
	}
	
	#prev{
		left: 1vw;
	}
	
	#next{
		left: 90vw;
	}
	
	#close:hover, #next:hover, #prev:hover{
		font-weight: bold;
		opacity: 1;
	}
	
}
