@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: ChopinScript;
	src: url("/res/fonts/ChopinScript.woff"); 
}

@keyframes welcome{
	from {opacity: 0; transform: translateY(2vh)}
	to {opacity: 1; transform: translateY(0)}
}

@keyframes welcome-1{
	from {opacity: 0; transform: translateY(2vh) rotate(-13deg)}
	to {opacity: 1; transform: translateY(0) rotate(-15deg)}
}

html{
	scroll-behavior: smooth;
}

#flowers{
	position: fixed;
	width: 70vw;
	z-index: 5;
	transform: rotate(-15deg);
	margin: 0 auto;
	display: block;
	left: 20vw;
	top: -25vh;
	pointer-events: none;
	
	animation-name: welcome-1;
	animation-duration: 2s;
	animation-fill-mode: backwards;
}

#names{
	position: fixed;
	max-width: 65vw;
	display: block;
	top: 27vh;
	margin: 0 auto;
	left: 17.5vw;
	z-index: 3;
	
	animation-name: welcome;
	animation-duration: 1.5s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}

#main-menu{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0vh;
	padding: 2vh 0;
	display: flex;
	justify-content: center;
	margin: 85vh auto 20vh auto;
	z-index: 4;
	
	animation-name: welcome;
	animation-duration: 2s;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}

#main-menu a{
	text-decoration: none;
	position: relative;
	width: 15%;
}

#main-menu a{
	display: flex;
	justify-content: center;
}

.menu-button{	
	background: none;
	box-shadow: none;
	border: none;
	color: #400711;
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.3em;
	margin: 0px;
	z-index: 10;
}

.menu-button:hover{
	font-weight:bold;
}

.left{
	border-right: 1px #400711 solid
}

.center{
	border-right: 1px #400711 solid;
	border-left: 1px #400711 solid;
}

.right{
	border-left: 1px #400711 solid
}

#content{
	height: 900vh;
}

h1{
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
	color: #400711;
	position: sticky;
	top: 8vh;
	z-index: 3;
}

.page{
	background: white;
	height: 25%;
}

#home{
	font-family: 'Cormorant Garamond', serif;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	display: none;
	position: fixed;
	top: 2vh;
	left: 4vw;
	z-index: 10;
	opacity: 0.3;
	cursor: context-menu;
}

.page .content{
	top: 20vh;
}

#countdown{
	position: fixed;
	z-index: 10;
	font-family: "Cormorant Garamond";
	font-weight: bold;
	width: 20vw;
	top: 0vh;
	left: 80vw;
	display: none;
	justify-content: center;
	align-items: baseline;
	cursor: context-menu;
}

#countown-val{
	position: relative;	
	display: inline-block;	
}

#countown-val h2{
	font-size: 3em;
	font-family: "Cormorant Garamond";
	font-weight: bolder;
	color: #bf6795;
	margin: 0;
	text-shadow: 2px
}

#countdown-message{
	display: inline-block;
	position: relative;
	color: #400711;
	font-weight:lighter;
	font-style:oblique;
}

.menu-button.current{
	border-bottom: solid #400711 0.2vh;
	font-weight: bold;	
}

.page .current{
	background: white;
}

.page{
	position: relative;
}

#when, #where{
	position: relative;
	height: 80vh;
	width: 33vw;
	z-index: 3;
}

#when-img{
	width: 22vw;
	position: absolute;
	left: -3vw;
	z-index: 2;
}

#when-txt{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 11vw;
	top: 9vh;
}

#our-wedding .title{
	font-family: "Cormorant Garamond";
	font-weight: bold;
	color: #bf6795;
	font-size: 12em;
	text-align: center;
	margin: 0;
	height: 18vh;
}

#when h2{
	font-family: "Cormorant Garamond";
	color: #bf6795;
	font-size: 4em;
	text-align: center;
	margin: 0;
}

#where{
	position: absolute;
	top: 28vh;
	left: 64vw;
}

#where-img{
	position: absolute;
	width: 22vw;
	left: 18vw;
	top: 40vh;
	z-index: 1;
}

#where .title{
	position: absolute;
	top: 40vh;
}

#where-txt{
	font-family: "Cormorant Garamond";
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

#line1, #line3{
	font-size: 4em
}

#line2{
	font-size: 2.5em;
}

#where-txt h2{
	font-family: "Cormorant Garamond";
	margin: 0;
	padding: 0;
	line-height: .7;
	color: #bf6795;
	text-align: center;
}

#where-txt p{
	color: #400711;
	font-size: 1.6em;
	margin: 0
}

#where-txt h2, #where-txt p{
	position: relative;
	top: 20vh;
	width: 25vw;
}

#wedding-divider{
  position: absolute;
	width: 22vw;
	top: 30vh;
	left: 39vw;
	z-index: 0;
}


