@charset "utf-8";
/* CSS Document */

@font-face {
font-family: "Trajan Pro";
src: url(../fonts/TrajanPro-Regular.otf);
}

@font-face {
font-family: "Trajan Pro Bold";
src: url(../fonts/TrajanPro-Bold.otf);
}

@font-face {
font-family: "Queenstown Signature";
src: url(../fonts/QUEENSTOWN-SIGNATURE.otf);
}

@keyframes welcome{
	from {opacity: 0; transform: translateY(2vh)}
	to {opacity: 1; transform: translateY(0)}
}

@keyframes welcome-1{
	from {opacity: 0; transform: translateY(2vh) rotate(-13deg)}
	to {opacity: 1; transform: translateY(0) rotate(-15deg)}
}

@keyframes fade-in{
	from {opacity: 0%}
	to{opacity: 100%}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

html{
	scroll-behavior: smooth;
}

.loader {
	display: none;
	position: absolute;
	left: 48vw;
	top: 25vw;
  	border: 4px solid white;
  	border-top: 4px solid #CF8EB0; 
  	border-radius: 50%;
  	width: 4vw;
  	height: 4vw;
  	animation: spin 1.5s linear infinite;
}

#preload{
	position: absolute;
}

#main{
	display: block;
}

[class*="col-"] {
    float: left;
    margin: 0;
}

#rsvp{
	display: none !important;
}

.rsvp{
	display: none !important;
}

@media only screen and (min-width: 992px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	
	.mobile{
		display: none;
	}
	
	.desktop{
		display: block;
	}

	#flowers{
		--width: 50vw;
		position: fixed;
		width: var(--width);
		z-index: 5;
		margin: 0 auto;
		display: block;
		left: calc(100vw/2 - var(--width)/2);
		top: -2vw;
		pointer-events: none;

		animation-name: welcome;
		animation-duration: 2s;
		animation-fill-mode: backwards;
	}

	#names{
		--width: 60vw;
		position: fixed;
		width: var(--width);
		display: block;
		top: 15vw;
		margin: 0 auto;
		left: calc(100vw/2 - var(--width)/2);
		z-index: 0;

		animation-name: welcome;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
	}

	
	#bg{
		background: none;
		position: static;
		width: 100%;
		height: 690vh;
		top: 0;
	}
	
	#bg.fade-in, #header.top .bg.fade-in{
		background: #06062a; 
		color: #bd9999; 
		border-color: #bd9999;
		transition: background 2s ease-in, 
			color 2s ease-in, 
			border-color 2s ease-in;
	}
	
	#main{
		background: none;
		position: absolute;
		width: 100%;
		/*! height: 860vh; */
		top: 0;
	}
	
	#main .fade-in{
		color: #bd9999; 
		border-color: #bd9999;
		transition: color 2s ease-in, 
			border-color 2s ease-in;
	}
	
	#bg.fade-out{
		background: transparent; 
		color: #400711; 
		border-color: #400711;
		transition: background 2s ease-out, 
			color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#header.top .bg.fade-out{
		background: white; 
		color: #400711; 
		border-color: #400711;
		transition: background 2s ease-out, 
			color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#main .fade-out{
		color: #400711; 
		border-color: #400711;
		transition: color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#main{
		background: transparent;
	}

	#header{
		font-family: "Trajan Pro";
		position: -webkit-sticky; /* Safari */
		position: sticky;
		align-items: center;
		width: 100%;
		height: 10vh;
		top: 0vh;
		padding: 2vh 0;
		margin: 46vw 0 10vh 0;
		z-index: 4;

    	animation-name: welcome;
		animation-duration: 2s;
		animation-delay: 1.5s;
		animation-fill-mode: backwards;
	}
	
	#header.top .bg{
		position: absolute;
		background: white;
		height: 80%;
		width: 100%;
		top: 0;
		opacity: 0.5;
		z-index: 0;
	}

	#main-menu{
		display: flex;
    	margin: 0 auto;
		margin-top: 0;
	}

	#main-menu a{
		text-decoration: none;
		position: relative;
		width: 25%;
		display: flex;
		justify-content: center;
	}

	.menu-button{	
		background: none;
		box-shadow: none;
		border: none;
		color: #400711;
		font-size: 1.2em;
		margin: 0px;
		z-index: 10;
	}

	.menu-button:hover{
		font-family: "Trajan Pro Bold";
	}

	.left{
		border-right: 1px #400711 solid;
	}

	.center{
		border-right: 1px #400711 solid;
		border-left: 1px #400711 solid;
	}

	.right{
		border-left: 1px #400711 solid
	}

	#home{
		opacity: 0;
		cursor: context-menu;
		display: flex;
		align-items: center;
		height: 90%;		
	}

	#home h3{
		font-family: "Queenstown Signature";
		font-size: 2.2vw;
		text-align: center;
		width: 100%;
		color: #400711;
		z-index: 5;
	}
	
	#home h3:hover{
		font-size: 2.3vw;
	}

	#countdown{
		font-family: "Cormorant Garamond";
		opacity: 0;
		cursor: context-menu;
		text-align: center;
	}

	#countown-val{	
		position: relative;	
		display: inline-block;
		top: -15px;
		z-index: 5;
	}

	#countown-val h2{
		font-family: "Cormorant Garamond";
		font-size: 3em;
		font-weight: bolder;
		color: #bf6795;
		margin: 0;
		text-shadow: 2px;
	}

	#countdown-message{
		display: inline-block;
		position: relative;
		color: #400711;
		font-weight:lighter;
		font-style:oblique;
		top: -15px;
		z-index: 5;
	}
	
	#our-wedding{
		top: 100vh;		
	}

	#content{
	}

	h1{
		font-family: "Queenstown Signature";
		font-size: 10em;
		text-align: center;
		color: #400711;
		position: sticky;
		top: 10vh;
		z-index:0;
	}

	.menu-button.current{
		font-family: "Trajan Pro Bold";
		border-bottom: solid #400711 0.2vh;
	}
	
	.page .current{
		background: transparent;
	}

	.page{
		height: 20%;
	}
	
	#our-wedding{
		height: 120vh;
	}
	
	.title{
		font-family: "Trajan Pro";
		font-size: 10em;
	}

	#when{
		position: relative;
		height: 65vh;
		z-index: 3;
	}

	#when-img{
		position: relative;
		z-index: 1;
		left: -20%;
		width: 90%;
	}
	
	#when .date{
		font-family: "Trajan Pro";
		font-size: 2.3vw;
		text-align: right;
		width: 100%;
	}

	#when .txt{
		text-align: center;
		display: flex;
		flex-direction: column;

		width: 60%;

		position: relative;
		top: -24vw;
		left: 11vw

	}

	#when .title{
		color: #bf6795;
		width: 100%;
		text-align: center;
	}

	#when h2{
		color: #bf6795;
		display: inline;
		line-height: .6;
	}

	#where{
		position: relative;
		z-index: 3;
		height: 65vh;
	}
	
	#where .address{
		font-family: "Trajan Pro";
	}

	#where-img{
		position: relative;
		width: 90%;
		right: -10vw;
	}

	#where .title{
		color: #bf6795;
		width: 100%;
		text-align: center;
	}

	#where p, #time p{
		color: #400711;
		font-size: 1.2vw;
		text-align: center;
		line-height: .5;
		padding-bottom: 0.4vw;
	}

	#where .big, #where .small, #where p,
	#time .big, #time .small, #time p{
		position: relative; 
		top: 3vw;
	}

	#where .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 2.5vw;
		text-align: center;
		line-height: .5
	}

	#where .small{
		font-family: "Queenstown Signature";
		color: #bf6795;
		font-size: 4vw;
		text-align: center;
		line-height: .3;
	}	
	 
	#where .txt{
		position: relative;
		top: 9vw;
		right: 3vw;
	}
	
	#time{
		position: relative;
		left: 33.3%;		
	}
	
	#time .small{
		font-family: "Queenstown Signature";
		color: #400711;
		font-size: 3vw;
		text-align: center;
		line-height: 1;
	}

	
	#time .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 5em;
		text-align: center;
		line-height: .5
	}

	#wedding-divider{
		position: relative;
		z-index: 1;
		text-align: center;
	}

	#wedding-divider img{
		position: relative;
		display: inline-block;
		width: 100%;
		z-index: 1;
		top: 12vh;
	}	
	
	#getting-there{
		height: 260vh;		
	}
	
	#map{
		--width: 70vw;
		position: relative;
		top: 20vh;
		width: var(--width);
		height: 60vh;
		left: calc(100vw/2 - var(--width)/2);
	}
	
	#accomodations, #transportation{
		position: relative;
		top: 40vh;
		color: #400711;
		width: 100vw;
		text-align: center;
	}
	
	#accomodations h2, #transportation h2{
		font-family: "Queenstown Signature";
		font-size: 6em;
		padding-top: 30px; 
	}
	
	#accomodations p, #transportation p{
		--width: 40vw;
		position: relative;
		font-family: "Trajan Pro";	
		text-align: center;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2)		
	}
	
	table{
		--width: 40vw;
		position: relative;
		font-family: "Trajan Pro";
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2)	
	}
	
	th{
		font-family: "Trajan Pro Bold";
		font-weight: normal;
	}
	
	#acc{
		font-size: 1.2em;		
	}
	
	#jdv, #acc a, #transportation a{
		font-family: "Trajan Pro Bold";
		text-decoration: none;
	}
	
	#jdv:hover, #acc a:hover, #transportation a:hover{
		font-size: 1.1em;
	}
	
	#directions{
		font-size: 1em;
	}
	
	#directions:hover{
		font-size: 1.1em;
	}
	
	#jdv, #where, #directions{
		cursor: context-menu;
	}
	
	#photos{
		height: 240vh;
	}
	
	#photos .content{
		position: relative;
		height: 100%;
	}
	
	#img-catalog{
		position: relative;
		justify-content: center;
    top: 20vh;
		padding: 0;
	}
	
	.img-column{
		vertical-align: top;
		position: relative;
		display: inline-grid;
		max-width: 16.666%;
		padding: 0;
		margin: 0;
	}
	
	.img{
		position: relative;
		opacity: 1;
	}
	
	.imgoverlay{
		top: 0;
		position: absolute;
    background: pink;
		height: 100%;
		width: 100%;
		opacity: 0;
		z-index: 2;
	}
	
	.imgoverlay:hover{
		opacity: 0.3;
	}
	
	.img-column img{
		width: 100%;
		height: auto;
		opacity: 1;
	}	
	
	.img-column img:hover{
		width: 100%;
		height: auto;
	}	
	
	#lightbox{
		display: none;
		position: fixed;
		z-index: 10;
		padding-top: 5vh;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		background-color: #06062a;
	}
	
	#click-out{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
	}
	
	#currentPhoto{
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	#currentPhoto img{
		max-height: 90vh;
		max-width: 90vw;
		display: block;    
	}
	
	#close,#prev,#next{
		position: absolute;
		cursor: context-menu;
		color: #bd9999;
		z-index: 2;
	}
	
	#close{
		left: 95vw;
		top: 1vh;
		font-size: 3em;
	}
	
	#prev,#next{
		font-size: 5em;
		opacity: 0.3;
		top: 40vh
	}
	
	#prev{
		left: 3vw;
	}
	
	#next{
		left: 95vw;
	}
	
	#close:hover, #next:hover, #prev:hover{
		font-weight: bold;
		opacity: 1;
	}
	
	#registry{
		height: 120vh;
	}
	
	#registry .content{
		position: relative;
		top: 10vh;
	}
	
	#registry .txt{
		font-family: "Trajan Pro";
		font-size: 2em;
		text-align: center;
	}
	
	#registry .txt span{
		position: relative;
		font-family: "Queenstown Signature";
		font-size: 3em;
		top: 1vh;
		left: 0.5vw;
		color: #400711;
	}
	
	#registries{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#target img, #bbb img, #paypal{
		max-height: 10vh;
		margin: 0 3vw
	}
	
	#paypal{
		display: flex;
		justify-content: center;
	}
	
	#rsvp{
	   	height: 100vh;
		display: none;
	}
	
	form div{
		position: relative;
		margin: auto;
	}
	
	#rsvpimg{
		pointer-events: none;
		position: relative;
		--width: 50vw;
		width: var(--width);
		top: -40vh;
		left: 25vw;
		transform: rotate(60deg)
	}
	
	#rsvpform{ 
		position: sticky;
		display: flex;
		align-content: center;
		border: 2px solid;
		border-radius: 30px;
		top: 10vh;
		box-shadow: 3px 3px 10px grey;
		--width: 40vw;
		width: var(--width);
		height: 50vh;
		left: calc(100vw/2 - var(--width)/2);
		background: white;
		z-index: 1;
		color: #400711;
		border-color: #400711;
	}
	
	#instructions{
		font-family: "Trajan Pro";
		text-align: center;
	}
	
	label{
		font-family: "Trajan Pro Bold";
		margin-right: 1vw;
		font-size: 1.1em;
		background: transparent;
	}
	
	label[name="name"]{
		position: relative;
		text-align: center;
		font-size: 1em;
		left: 45%;
	}
	
	input[type="text"]{
		border:0;
		border-bottom: 1px solid;
		width: 100%;
		text-align: center;
		font-family: "Trajan Pro";
		font-size: 1.5em;
		color: #400711;
		border-color: #400711;
	}
	
	input[type="radio"]{
    margin-right: 0.5vw;
		color: #400711;
		border-color: #400711;
	}
	
	input[type="number"]{
		border: 0;
		border-bottom: 1px solid;
		width: 3vw;
		text-align: center;
	}
	
	label[name="rsvpaccept"],
	label[name="rsvpdecline"]{
		font-size: .8em;
	}
	
	#rsvpnum{
		position: relative;
		display: flex;
		justify-content: "center";
		top: 0;
	}
	
	#rsvpnum input, #rsvpnum label{
		position: relative;
		left: 16%
	}
	
	input[type="submit"]{
		position: relative;
		display: flex;
		top: 10%;
		height: 10%;
		width: 40%;
		left: 30%;
		background: none;
		border: none;
		border: 1px solid;
		border-radius: 8px;
		font-family: "Trajan Pro Bold";
		font-size: 1.5em;
	}		
	
	input[type="submit"]:hover{
		border: 2px solid;
		font-size: 1.6em;
	}
	
	#thankyou{
		position: relative;
		font-size: 8em;
		top: 3vh;
	}
	
	#thanks h1{
		font-family: "Trajan Pro";
		font-size: 10em
	}
	
	#thanks h3{
		top: 27vh;
		position: sticky;
		font-family: "Queenstown Signature";
		font-size: 5em;
		text-align: center;
		line-height: 1
	}
	
	#thankyouphoto{
		top: 10vh;
		position: relative;
		--width: 20vw;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2);
		z-index: -1;
	}
	
}

@media only screen and (max-width: 992px){
	
	.mobile{
		display: block;
	}
	
	.desktop{
		display: none;
	}

	[class*="col-"] {
		width: 100vw;
	}	

	
	#bg{
		background: none;
		position: absolute;
		width: 100vw;
		height: 920vh;
		top: 0;
	}
	
	#bg.fade-in, #header.top .bg.fade-in{
		background: #06062a; 
		color: #bd9999; 
		border-color: #bd9999;
		transition: background 2s ease-in, 
			color 2s ease-in, 
			border-color 2s ease-in;
	}
	
	#main .fade-in{
		color: #bd9999; 
		border-color: #bd9999;
		transition: color 2s ease-in, 
			border-color 2s ease-in;
	}
	
	#bg.fade-out{
		background: transparent; 
		color: #400711; 
		border-color: #400711;
		transition: background 2s ease-out, 
			color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#header.top .bg.fade-out{
		background: white; 
		color: #400711; 
		border-color: #400711;
		transition: background 2s ease-out, 
			color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#main .fade-out{
		color: #400711; 
		border-color: #400711;
		transition: color 2s ease-out, 
			border-color 2s ease-out;
	}
	
	#landing{
		position: relative;
	}
	
	#flowers{
		position: fixed;
		width: 100%;
		z-index: 5;
		/*transform: rotate(-15deg);*/
		margin: 0 auto;
		display: block;
		top: 13vh;
		pointer-events: none;

		animation-name: welcome;
		animation-duration: 2s;
		animation-fill-mode: backwards;
	}

	#names{
		position: relative;
		--width:140vw;
		top: 30vh;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2);

		animation-name: welcome;
		animation-duration: 1.5s;
		animation-delay: 1s;
		animation-fill-mode: backwards;
	}
	
	#header{
		display: none;
	}
	
	.page{
		position: relative;
		height: 20%;
		top: 30vh;
	}
	
	.page h1{
		font-family: "Queenstown Signature";
		position: sticky;
		color: #400711;
		font-size: 20vw;
		text-align: center;
		top: 0;
		padding: 15px;
		width: 100vw;
		background: transparent;
		margin-bottom: 10vh;
		cursor: context-menu;
	}
	
	#our-wedding{
		position: relative;
		top: 60vh;
		height: 300vh
	}
	
	.title{
		font-family: "Trajan Pro Bold";
		font-size: 6em;
	}
	
	#when-img{
		position: relative;
		width: 80vw;
		left: -40vw;
		z-index: 2;
	}
	
	#when .date{
		font-family: "Trajan Pro";
	}
	
	#when .title{
		color: #bf6795;
		display: inline-block;
		text-align: center;
		line-height: .3
	}
	
	#when h2{
		color: #bf6795;
		display: inline-block;
		text-align: center;
	}
	
	#when .txt{
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
		top: -65vw
	}
	
	#wedding-divider{
		position: relative;
		width: 100vw;
		top: -50vw
	}
	
	#wedding-divider img{
		width: 90%;
	}
	
	#where{
		position: relative;
		top: -30vw
	}
	
	#where .title{
		color: #bf6795;
		display: inline-block;
		text-align: center;
		line-height: 1;
	}
	
	#where p{
		font-family: "Trajan Pro";
		color: #400711;
		text-align: center;
		font-size: 1em;
	}
	
	#where .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 2em;
		text-align: center;
		line-height: .5
	}
	
	#where .small{
		font-family: "Queenstown Signature";
		color: #bf6795;
		font-size: 4.5em;
		text-align: center;
	  line-height: .3
	}
	
	#where-img{
		position: relative;
		width: 100%;
		left: 48vw;
		top: -20vw;
		z-index: 2;
	}	
	
	#time{
		position: relative;
		top: -25vh;
	}
	
	#time .small{
		font-family: "Queenstown Signature";
		color: #400711;
		font-size: 3.5em;
		text-align: center;
	}

	
	#time .big{
		font-family: "Trajan Pro";
		color: #bf6795;
		font-size: 5em;
		text-align: center;
		line-height: .5
	}
	
	#getting-there{
		height: 270vh;
	}
	
	#map{
		--width: 95vw;
		position: relative;
		top: 10vh;
		width: var(--width);
		height: 60vh;
		left: calc(100vw/2 - var(--width)/2);
	}
	
	#photos{
		height: 250vh;
	}
	
	#photos .content{
		position: relative;
		height: 100%;
		top: 10vh;
	}
	
	#img-catalog{
		position: relative;
		justify-content: center;
    top: 10vh;
		padding: 0;
	}
	
	.img-column{
		vertical-align: top;
		position: relative;
		display: inline-grid;
		max-width: 33.333%;
		padding: 0;
		margin: 0;
	}
	
	.img-column img{
		width: 100%;
		height: auto;
	}
	
	#lightbox{
		display: none;
		position: fixed;
		z-index: 10;
		padding-top: 5vh;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #06062a;
	}
	
	#click-out{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
	}
	
	#currentPhoto{	
		margin: 0;
		padding: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	
	#currentPhoto img{
		max-height: 100vh;;
		max-width: 92vw;
		
	}
	
	#close,#prev,#next{
		position: absolute;
		cursor: context-menu;
		color: #bd9999;
	}
	
	#close{
		--width: 15vw;
		top: 87vh;
		left: calc(100vw/2 - var(--width)/2);
		font-size: var(--width);
		text-align: center;
		line-height: .8;
		
		border: solid 2px;
		border-radius: 50%;
		height: var(--width);
		width: var(--width);
		
		z-index: 3;
		opacity: 0.5;		
		
	}
	
	#prev, #next{
		font-size: 2em;		
		top: 50vh;
	  opacity: 0.2;		
	}
	
	#prev{
		left: 1vw;
	}
	
	#next{
		left: 94vw;
	}
	
	#close:hover, #next:hover, #prev:hover{
		font-weight: bold;
		opacity: 1;
	}
	
	#accomodations, #transportation{
		position: relative;
		top: 15vh;
		color: #400711;
		width: 100vw;
		text-align: center;
	}
	
	#accomodations h2, #transportation h2{
		font-family: "Queenstown Signature";
		font-size: 3.2em;
		padding-top: 30px; 
	}
	
	#accomodations p, #transportation p{
		--width: 90vw;
		position: relative;
		font-family: "Trajan Pro";	
		text-align: center;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2)		
	}
	
	table{
		--width: 90vw;
		position: relative;
		font-family: "Trajan Pro";
		font-size: 0.7em;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2)	
	}
	
	th{
		font-family: "Trajan Pro Bold";
		font-weight: normal;
	}
	
	#acc{
		font-size: 1em;		
	}
	
	#jdv, #acc a, #directions{
		font-family: "Trajan Pro Bold";
		text-decoration: none;
	}	
	
	#directions{		
		font-size: 0.8em;
		line-height: 1;
	}	
	
	#registry{
		height: 190vh
	}
	
	#registry .content{
		position: relative;
	}
	
	#registry .txt{
		font-family: "Trajan Pro";
		font-size: 2em;
		text-align: center;
		line-height: 1;
	}
	
	#registry .txt span{
		position: relative;
		font-family: "Queenstown Signature";
		font-size: 3em;
		top: 1vh;
		left: 0.5vw;
		color: #400711;
	}
	
	#registries{
		display: flex;
		justify-content: center;
		align-items: top;
		flex-wrap: wrap;
	}
	
	#target img, #bbb img{
		max-width: 60vw;
		margin: 0 0 5% 0
	}
	
	#rsvp{
	   height: 100vh;	
	}
	
	form div{
		position: relative;
		top: 8vh;
		width: 90%;
	}
	
	#rsvpimg{
		pointer-events: none;
		position: relative;
		--width: 100vw;
		width: var(--width);
		transform: rotate(240deg)
	}
	
	#instructions{
		font-family: "Trajan Pro";
		text-align: center;
	}	
	
	label{
		font-family: "Trajan Pro Bold";
		margin-right: 1vw;
		font-size: 1em;
		background: transparent;
	}
	
	label[name="name"]{
		position: relative;
		text-align: center;
		font-size: 1em;
		left: 45%;
	}
	
	input[type="text"]{
		border:0;
		border-bottom: 1px solid;
		width: 100%;
		text-align: center;
		font-family: "Trajan Pro";
		font-size: 1em;
		color: #400711;
		border-color: #400711;
	}
	
	input[type="radio"]{
    margin-right: 0.5vw;
		color: #400711;
		border-color: #400711;
	}
	
	input[type="number"]{
		border: 0;
		border-bottom: 1px solid;
		width: 15vw;
		text-align: center;
	}
	
	label[name="rsvpaccept"],
	label[name="rsvpdecline"]{
		font-size: .6em;
	}
	
	#rsvpnum{
		position: relative;
		display: flex;
		justify-content: "center";
		top: 0;
	}
	
	#rsvpnum input, #rsvpnum label{
		position: relative;
		left: 6%;
	}
	
	input[type="submit"]{
		position: relative;
		display: flex;
		top: 10%;
		height: 10%;
		width: 40%;
		left: 30%;
		background: none;
		border: none;
		border: 1px solid;
		border-radius: 8px;
		font-family: "Trajan Pro Bold";
		font-size: 1.5em;
	}		
	
	input[type="submit"]:hover{
		border: 2px solid;
		font-size: 1.6em;
	}
	
	#thankyou{
		position: relative;
		font-size: 6em;
		left: -10%;
	}
	
	#rsvp .content{
		height: 80%;
	}
	
	#thanks h1{
		font-family: "Trajan Pro";
		font-size: 3em;
		height: 10vh;
	}
	
	#thanks h3{
		top: 10vh;
		--width: 90vw;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2);
		position: sticky;
		font-family: "Queenstown Signature";
		font-size: 3em;
		text-align: center;
		line-height: .8
	}
	
	#thankyouphoto{
		top: 10vh;
		position: relative;
		--width: 90vw;
		width: var(--width);
		left: calc(100vw/2 - var(--width)/2);
		z-index: -1;
	
}
